/**
 * Homepage
 */
.section {
  font-weight: bold;
  &.medium {
    height: 400px;
  }
  &.large {
    height: 500px;
  }
  > .row {
    margin-bottom: 0;
  }
  .section-valign {
    height: 500px;
    padding: 2rem;
  }
}
.section.section-first {
  background-color: $mmd-grey;
}
.section.split {
  padding-top: 0;
  padding-bottom: 0;
}

.sm {
  background-size: cover;
  min-height: 450px;
  max-height: 500px;
  background-size: cover;
  color: $mmd-black;
}
/**
 * Homepage end
 */